{% extends "base.html" %}
{% block content %}
    <div class="processes-container">
        <div class="logs-container">
            <p class="log-title">
                Running processes
            </p>
            {% if running_log_files|length == 0 %}
                <div class="log-container">
                    <p>
                        No running processes to show
                    </p>
                </div>
            {% else %}
                {% for timestamp in running_log_files %}
                    <div class="log-container">
                        <a href="{{ url_for( 'content.process_details', timestamp=timestamp ) }}">
                            <button class="log-button">
                                {{ log }}
                            </button>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}

            <p class="log-title">
                Finished processes
            </p>
            {% if log_files|length == 0 %}
                <div class="log-container">
                    <p>
                        No logs to show
                    </p>
                </div>
            {% else %}
                {% for timestamp in log_files %}
                    <div class="log-container">
                        <a href="{{ url_for( 'content.process_details', timestamp=timestamp ) }}">
                            <button class="log-button">
                                {{ log }}
                            </button>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}