html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #272727;
    font-family: IBM Plex Sans !important;
    color: #0035ff;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 100%;
    text-align: center;
}

.login-container .login-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    background-color: #373636;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    margin: 0 20px;
}

.login-content .login-message {
    color: red;
    margin-top: 20px;
}

p.login-title {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
}

input.login-form-input {
    padding: 8px;
}

.login-content .login-button {
    background-color: #1448a7;
    color: white;
    width: 50%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
}

.navbar {
    height: 40px;
    display: flex;
    width: 100%;
    background-color: #4a4a4a;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    padding: 5px 0;
}

.navbar .main-title {
    margin-left: 5px;
}

.navbar form {
    margin-left: auto;
    margin-right: 5px;
}

.navbar button {
    padding: 5px;
    border-radius: 10px;
    color: #0035ff;
    background-color: #272727;
}

.main-container {
    height: 100%;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.processes-container {
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 250px;
    height: 20px;
}

.footer {
    position: fixed;
    background-color: #4a4a4a;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 5px;
}

.login-button:hover {
    background-color: #7485d6;
}

.logout-button:hover {
    background-color: #313131;
}

.logout-button a {
    text-decoration: none;
}

.logs-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.log-container {
    margin-bottom: 10px;
    margin-top: 10px;
}

.process-button {
    padding: 5px;
    color: #0035ff;
}

.details-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.details-container form {
    display: flex;
    justify-content: center;
}
