html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: #272727;
    font-family: IBM Plex Sans !important;
    color: #ffffff;
}

.container {
    width: 100%;
    height: 95%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    overflow: auto;
}

.mid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-align: center;
}

.mid-container .login-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    background-color: #373636;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
    margin: 0 20px;
}

.login-content .login-message {
    color: red;
    margin-top: 20px;
}

p.login-title {
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 10px;
}

input.login-form-input {
    padding: 8px;
}

.login-content .login-button {
    background-color: #1448a7;
    color: white;
    width: 50%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
    border: none;
}

.process-button {
    background-color: #1448a7;
    color: white;
    width: 50%;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
    border: none;
}

.navbar {
    height: 40px;
    display: flex;
    width: 100%;
    background-color: #4a4a4a;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    padding: 5px 0;
}

.navbar .main-title {
    margin-left: 5px;
}

.main-title a {
    text-decoration: none;
}

.navbar form {
    margin-left: auto;
    margin-right: 5px;
}

.navbar button {
    padding: 5px;
    border-radius: 10px;
    color: #ffffff;
    background-color: #272727;
    border: none;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
}

.navbar a:hover {
    color: #e6e6e6;
}

.main-container {
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.processes-container {
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 250px;
    height: 20px;
}

.footer {
    position: fixed;
    background-color: #4a4a4a;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 5px;
}

.login-button:hover {
    background-color: #7485d6;
}

.process-button:hover {
    background-color: #7485d6;
}

.logout-button:hover {
    background-color: #313131;
}

.logs-container {
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;
}

.log-container {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.log-title {
    text-align: center;
    background-color: #808080;
    padding: 5px;
    width: 100%;
}

.log-button {
    width: 100%;
    background-color: #404040;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
}

.log-button:hover {
    background-color: #636363;
}

.process-button {
    padding: 5px;
    color: #ffffff;
}

.details-container {
    background-color: #404040;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 5px;
    padding: 15px;
    margin-right: 5px;
    border-radius: 10px;
}

.details-container form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
