{% extends "base.html" %}
{% block content %}
    <div class="main-container">
        <div class="details-container">
            <p>Timestamp: {{ log_data["timestamp"] }}</p>
            <p>Directory Name: {{ log_data["dir_path"] }}</p>
            <p>Music links: {{ log_data["music_links"] }}</p>
            <p>PID: {{ log_data["process_pid"] }}</p>
            <p>Is process running: {{ log_data["is_running"] }}</p>
            <p>Was process canceled: {{ log_data["was_canceled"] }}</p>

            {% if log_data["is_running"] %}
            <form action="{{ url_for('processes.cancel_process', timestamp=log_data['timestamp']) }}" method="POST">
                <button class="process-button" type="submit">Cancel</button>
            </form>
            {% elif not log_data["is_running"] and not log_data["was_canceled"] %}
            <form action="{{ url_for('files_operations.download', dir=log_data['dir_path']) }}" method="POST">
                <button class="process-button" type="submit">Download</button>
            </form>
            <form action="{{ url_for('files_operations.delete', dir=log_data['dir_path'], timestamp=log_data['timestamp']) }}" method="POST">
                <button class="process-button" type="submit">Delete</button>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}